.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* This is the background color of the page when the modal is open */
}

.modal-content {
    background-color: #fefefe; /* This is the background color of the modal */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Adjust the width of the modal */
    position: fixed; /* Position the modal fixed */
    right: 0; /* Position the modal to the right */
    top: 50%; /* Position the modal to the middle vertically */
    transform: translateY(-50%); /* Adjust the position of the modal so it's centered vertically */
}

.close {
    color: #aaa;
    position: absolute; /* Position the close button absolutely within the modal */
    right: 10px; /* Move the close button to the right */
    top: 5px; /* Position the close button at the top */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}